  body {
        font-family: Arial, sans-serif;
        margin: 130px;
        padding: 0;
        background-color: #f0f0f0;
    }
    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px Irgba(0, 0, 0, 0.2);
    }
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    .form-group {
        margin-bottom: 1px;
    }
    label {
        display: block;
        margin-bottom: 5px;
    }
    input {
        width: 96.5%;
        padding: 8px;
        border: 2px solid #ccc;
        border-radius: 3px;
    }
    select{
        width: 100%;
        padding: 8px;
        border: 1px solid #c0b5b5;
        border-radius: 3px;
        }
    button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        }
    button:hover {
        background-color: #0069d9;
        }
    a {
        text-decoration: none;
        color: #007bff;
        }
    .social-buttons {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        }
    .social-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #fff;
        border: 1px solid;
        border-radius: 3px;
        text-decoration: none;
        color: #333;
        margin: 0 5px;
        }
    .social-button.twitter {
        background-color: #1DA1F3;
        color: #fff;
        }
    .social-button.facebook {
        background-color: #365998;
        color: #fff; 
        }